<settings>
<servers>
  <server>
    <id>maven-7days-the_7_days_DevOps_maven</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>maven-7days-the_7_days_DevOps_maven</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>maven-7days-the_7_days_DevOps_maven</id>
        <url>https://maven-7days-056598116151.d.codeartifact.us-east-2.amazonaws.com/maven/the_7_days_DevOps_maven/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>maven-7days-the_7_days_DevOps_maven</id>
    <name>maven-7days-the_7_days_DevOps_maven</name>
    <url>https://maven-7days-056598116151.d.codeartifact.us-east-2.amazonaws.com/maven/the_7_days_DevOps_maven/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>

